---
import { getCollection } from 'astro:content';
import Carousel from './Carousel.astro';
import ProductCard from './ProductCard.astro';

const products = await getCollection('products');
---

<Carousel id="products-carousel">
  {
    products.map((product) => (
      <div class="swiper-slide">
        <ProductCard
          title={product.data.title}
          description={product.data.description}
          image={product.data.image}
          features={product.data.features}
          slug={product.slug}
          compact={true}
        />
      </div>
    ))
  }
</Carousel>