---
import { getCollection } from 'astro:content';
import Carousel from './Carousel.astro';
import ProjectCard from './ProjectCard.astro';

const projects = await getCollection('projects');
---

<Carousel id="projects-carousel">
  {
    projects.map((project) => (
      <div class="swiper-slide">
        <ProjectCard
          title={project.data.title}
          description={project.data.description}
          image={project.data.image}
          slug={project.slug}
          date={project.data.date}
          compact={true}
        />
      </div>
    ))
  }
</Carousel>